<strong>Recuperando senha</strong>

<p>Um solicitaão de recuperação de senha foi realizada para o e-mail ({{email}}). Se não foi você que solicitou, troque a senha!!!</p>

<p>Para continuar com a recuperação de senha, utilize o {{token}}, ou clique no link abaixo</p>

<a href="{{ link }}">Criar nova senha</a>
